<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{index . "title"}}</title>
</head>
<body>
<h1>{{index . "title"}}</h1>
<form method="POST" action="/user">
    <dl>
        <dt>Name:</dt>
        <dd><input type="text" name="name"></dd>
        <dt>Age:</dt>
        <dd><input type="number" name="age"></dd>
    </dl>
    <p><input type="submit" name="submit" value="Sign Up"></p>
</form>
</body>
</html>